.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  // 16px
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }
}

.left_form_section{
    padding: 2.5rem;
}

.right_form_section{
    height: 100%;
    width: 100%;
    padding: 2.5rem;
    background-image: url(/signUpPageBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;//strect the image vertically
    
}

.signup_form {
    display: flex;
    font-family: sans-serif;
    border: 1px solid lightblue;
    border-radius: 2rem;
    height: 550px;
    width: 900px;
    overflow: hidden;
}


.heading_style {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.first_last_name_flexbox {
    display: flex;
    gap: 1rem;
}

.input_signup {
    border: 1px solid ;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.signUpButton{
    margin-top: 1.5rem;
    padding: 0 0.5rem;
    height: 2rem;
    font-size: 15px;
    background-color: dodgerblue;
    color: white;
    border-radius: 7px;
}

.signInButton {
    padding: 0 0.5rem;
    height: 2rem;
    font-size: 15px;
    background-color: white;
    color: dodgerblue;
    border-radius: 7px;
}

.signInDiv {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.signInText {
    color: white;
}